* {
    font-family: "Inter", sans-serif;
}

#about-the-app {
    background: linear-gradient(90deg,rgba(255, 114, 53, 1) 24%, rgba(255, 141, 92, 1) 76%);
    color: #FFFFFF;
}

#pettalk-collar a {
    color: #FF7235;
}

.btn {
    background-color: #FF7235;
    border: none;
}

.btn:hover {
    background-color: #df5a21;
}

